html *{
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: #eeeeee;
}

.navbar { 
  margin-bottom: 0; 
  padding-left: 10vw;
  padding-right: 10vw;
}

body{
  background-color: #eeeeee !important;
  font-family: 'Roboto', sans-serif;
}

.large-text {
    font-size: large;
}

.centered{
  text-align: center;
}

html,body {
  height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account-image {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.content-table {
  border-collapse: collapse;
  margin: 15px 0;
  width: 100%;
  font-size: 1em;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.content-table thead tr{
  border-radius: 8px;
  background-color: #C2C2C2;
  font-weight: bold;
}

th:first-of-type{
  border-top-left-radius: 8px;
}

th:last-of-type{
  border-top-right-radius: 8px;
}

.content-table th,
.content-table td{
  padding: 8px 10px;
}

.content-table tbody tr{
  border-bottom: 2px solid #ccc;
}

/* .content-table tbody tr:last-of-type{
  border-bottom: 3px solid #ccc;
} */

td, th {
  /* border: 1px solid #ccc; */
  text-align: left;
}

caption{
  font-size: 2em;
}

.account-heading {
  font-size: 2.5rem;
}

footer{
  padding-top: 5px;
  border-top: 3px solid #ccc;
  background-color: red;
  background-color: #eeeeee;
}

p { 
  text-indent: 30px;
}

.about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kelly-pic{
  padding: 15px;
}