{% extends "scodds/layout.html" %}
{% load static %}



{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="content-table">
        <caption class="text-center">Upcoming Matchups</caption>
        <thead>
          <tr>
            <th>Match Date</th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Best of</th>
            <th>Given odds for P1</th>
            <th>Rating based odds for P1</th>
            <th>Kelly Criterion Value</th>
          </tr>
        </thead>
        {% for matchup in futureMatches %}
        <tbody>
          <tr>
            <td>{{matchup.matchupDate}}</td>
            <td><a href="{% url 'player' matchup.player1.id %}">{{matchup.player1.name}}</a></td>
            <td><a href="{% url 'player' matchup.player2.id %}">{{matchup.player2.name}}</a></td>
            <td>{{matchup.bestOf}}</td>
            <td>{{matchup.p1Odds|floatformat:2}}%</td>
            <td>{{matchup.p1AligulacOdds|floatformat:2}}%</td>
            <td>{{matchup.kellyValue|floatformat:2}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>

    <div class="col-md-6">
      <table class="content-table">
        <caption class="text-center">Recent Matchups</caption>
        <thead>
          <tr>
            <th>Match Date</th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Best of</th>
            <th>Given odds for P1</th>
            <th>Rating based odds for P1</th>
            <th>Kelly Criterion Value</th>
          </tr>
        </thead>
        {% for matchup in pastMatches %}
        <tr>
          <td>{{matchup.matchupDate}}</td>
          <td><a href="{% url 'player' matchup.player1.id %}">{{matchup.player1.name}}</a></td>
          <td><a href="{% url 'player' matchup.player2.id %}">{{matchup.player2.name}}</a></td>
          <td>{{matchup.bestOf}}</td>
          <td>{{matchup.p1Odds|floatformat:2}}%</td>
          <td>{{matchup.p1AligulacOdds|floatformat:2}}%</td>
          <td>{{matchup.kellyValue|floatformat:2}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
    <script src="{% static 'scodds/index.js' %}" type="text/javascript"></script>
{% endblock %}